# dependencies
/node_modules

# next.js
/.next/
/out/

# local
.DS_Store
*.pem
.env*
!.env.example

# debug
npm-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo

# sites runtime
.sites-runtime/
